body {
    background-color: black;
    margin: 100px auto;
}

#container {
    height: 200px;
    width: 500px;
    border: 10px solid white ;
    margin: auto;
    margin-top: 50px;
    background-color: silver;
   

    
}

h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;
}

#number {
    height: 25px;
    width: 250px;
    margin: 50px auto;
    margin-top: 50px;
    border: 1px solid black;
    text-align: center;
    background-color: aliceblue;
}

#increment {
    height: 25px;
    width: 100px;
    margin-top: 50px;
    margin-left: 100px;
    size: 25px;
   
}


#decrement{
    height: 25px;
    width: 100px;
    margin-top: 50px;
    margin-left: 20px;
    size: 25px;
    

}   

#zerar{
    height: 25px;
    width: 50px;
    margin-top: 0px;
    margin-left: 25px;
    text-align: center;
}

#mais{
    width: 20px;
    height: 20px;

}

#menos{
    width: 20px;
    height: 20px;
}

#resetar{
    width: 20px;
    height: 20px;
}

